# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/dist-server
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs and editors
.idea
.vscode
.vs
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.npm
.eslintcache
.yarn-integrity
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
!/e2e/protractor.conf.js

# System Files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk
