<div class="ui-block">
  <h3 class="ui-block-heading">ng-chartist</h3>
  <a target="_blank" href="https://github.com/willsoto/ng-chartist" class="ui-block-description">https://github.com/willsoto/ng-chartist</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example cui-example-vertical-spacing-lg">
    <div style="height: 250px">
      <x-chartist
        [data]="data1"
        [type]="'Line'"
        [options]="options1">
      </x-chartist>
    </div>

    <div style="height: 250px">
      <x-chartist
        [data]="data2"
        [type]="'Line'"
        [options]="options2">
      </x-chartist>
    </div>

    <div style="height: 250px">
      <x-chartist
        [data]="data3"
        [type]="'Bar'"
        [options]="options3">
      </x-chartist>
    </div>

    <div style="height: 250px">
      <x-chartist
        [data]="data4"
        [type]="'Bar'"
        [options]="options4">
      </x-chartist>
    </div>

    <div style="height: 250px">
      <x-chartist
        [data]="data5"
        [type]="'Pie'"
        [options]="options5">
      </x-chartist>
    </div>

    <div style="height: 250px">
      <x-chartist
        [data]="data6"
        [type]="'Pie'"
        [options]="options6">
      </x-chartist>
    </div>
  </div>
</div>
