<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'numeral/numeral.js' %>
  
  <%= javascript_include_tag 'misc_numeraljs.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Miscellaneous /</span> Numeral.js
</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="card">
  <div class="card-body demo-vertical-spacing">
    <p id="numeral-example-1"></p>
    <p id="numeral-example-2"></p>
    <p id="numeral-example-3"></p>
    <p id="numeral-example-4"></p>
    <p id="numeral-example-5"></p>
  </div>
</div>
