<div class="ui-block">
  <h3 class="ui-block-heading">File browser</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <label class="custom-file">
      <input type="file" class="custom-file-input">
      <span class="custom-file-label"></span>
    </label>
  </div>

  <h4 class="ui-block-heading">Disabled</h4>

  <div class="cui-example">
    <label class="custom-file">
      <input type="file" class="custom-file-input" disabled>
      <span class="custom-file-label"></span>
    </label>
  </div>

  <h4 class="ui-block-heading">Validations states</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <label class="custom-file">
      <input type="file" class="custom-file-input is-valid">
      <span class="custom-file-label"></span>
    </label>

    <label class="custom-file">
      <input type="file" class="custom-file-input is-invalid">
      <span class="custom-file-label"></span>
    </label>
  </div>
</div>
