@page
@model FaqModel
@{
    ViewData["Title"] = "FAQ - Pages";
}


<!--
=================================================================
**************************** CONTENT ****************************
-->

<h3 class="text-center font-weight-bold py-3 mb-4">
    Frequently Asked Questions
</h3>
<hr class="border-light container-m--x my-0">

<div class="row mt-4">
    <div class="col-lg-4 col-xl-3">

        <div>
            <a href="javascript:void(0)" class="media align-items-center bg-lighter text-dark py-3 px-4">
                <div class="ion ion-md-help-circle-outline ui-w-30 text-center text-xlarge"></div>
                <div class="media-body ml-3">
                    Common
                    <div class="text-muted small">Donec sagittis urna eu leo</div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media align-items-center bg-lighter text-dark py-3 px-4">
                <div class="ion ion-ios-help-buoy ui-w-30 text-center text-xlarge"></div>
                <div class="media-body ml-3">
                    Knowledge Base
                    <div class="text-muted small">Donec sagittis urna eu leo</div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media align-items-center bg-lighter text-dark py-3 px-4">
                <div class="ion ion-md-card ui-w-30 text-center text-xlarge"></div>
                <div class="media-body ml-3">
                    Purchase
                    <div class="text-muted small">Donec sagittis urna eu leo</div>
                </div>
            </a>
            <a href="javascript:void(0)" class="media align-items-center bg-lighter text-dark py-3 px-4">
                <div class="ion ion-ios-business ui-w-30 text-center text-xlarge"></div>
                <div class="media-body ml-3">
                    Partnership
                    <div class="text-muted small">Donec sagittis urna eu leo</div>
                </div>
            </a>
        </div>

        <div class="text-center mt-4 mb-5">
            <button type="button" class="btn btn-outline-primary">Contact Support</button>
        </div>

    </div>
    <div class="col">

        <h4 class="media align-items-center my-4">
            <div class="ion ion-md-help-circle-outline ui-w-60 text-center text-large"></div>
            <div class="media-body ml-1">
                Common
                <div class="text-muted text-tiny font-weight-light">Donec sagittis urna eu leo</div>
            </div>
        </h4>

        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-1" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ne ornatus albucius ius?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-1" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, mea in pertinax hendrerit gloriatur.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-2" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Quo insolens intellegam dissentiet at?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-2" class="collapse text-muted">
                <div class="px-4 pb-3">Ex fugit legimus fuisset per. Ex quidam option diceret ius.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-3" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ad his assum delenit blandit?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-3" class="collapse text-muted">
                <div class="px-4 pb-3">Ne ornatus albucius ius, nostrum dignissim repudiandae an usu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-4" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Dapibus ac facilisis in?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-4" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-5" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Cras justo odio?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-5" class="collapse text-muted">
                <div class="px-4 pb-3">Etiam vivendo eu sea, purto ponderum mediocritatem at pro.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-6" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Porta ac consectetur ac?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-6" class="collapse text-muted">
                <div class="px-4 pb-3">Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse.</div>
            </div>
        </div>

        <hr class="my-5">

        <h4 class="media align-items-center mb-4">
            <div class="ion ion-ios-help-buoy ui-w-60 text-center text-large"></div>
            <div class="media-body ml-1">
                Knowledge Base
                <div class="text-muted text-tiny font-weight-light">Donec sagittis urna eu leo</div>
            </div>
        </h4>

        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-21" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ne ornatus albucius ius?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-21" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, mea in pertinax hendrerit gloriatur.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-22" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Quo insolens intellegam dissentiet at?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-22" class="collapse text-muted">
                <div class="px-4 pb-3">Ex fugit legimus fuisset per. Ex quidam option diceret ius.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-23" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ad his assum delenit blandit?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-23" class="collapse text-muted">
                <div class="px-4 pb-3">Ne ornatus albucius ius, nostrum dignissim repudiandae an usu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-24" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Dapibus ac facilisis in?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-24" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-25" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Cras justo odio?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-25" class="collapse text-muted">
                <div class="px-4 pb-3">Etiam vivendo eu sea, purto ponderum mediocritatem at pro.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-26" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Porta ac consectetur ac?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-26" class="collapse text-muted">
                <div class="px-4 pb-3">Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse.</div>
            </div>
        </div>

        <hr class="my-5">

        <h4 class="media align-items-center mb-4">
            <div class="ion ion-md-card ui-w-60 text-center text-large"></div>
            <div class="media-body ml-1">
                Purchase
                <div class="text-muted text-tiny font-weight-light">Donec sagittis urna eu leo</div>
            </div>
        </h4>

        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-31" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ne ornatus albucius ius?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-31" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, mea in pertinax hendrerit gloriatur.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-32" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Quo insolens intellegam dissentiet at?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-32" class="collapse text-muted">
                <div class="px-4 pb-3">Ex fugit legimus fuisset per. Ex quidam option diceret ius.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-33" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ad his assum delenit blandit?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-33" class="collapse text-muted">
                <div class="px-4 pb-3">Ne ornatus albucius ius, nostrum dignissim repudiandae an usu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-34" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Dapibus ac facilisis in?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-34" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-35" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Cras justo odio?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-35" class="collapse text-muted">
                <div class="px-4 pb-3">Etiam vivendo eu sea, purto ponderum mediocritatem at pro.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-36" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Porta ac consectetur ac?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-36" class="collapse text-muted">
                <div class="px-4 pb-3">Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse.</div>
            </div>
        </div>

        <hr class="my-5">

        <h4 class="media align-items-center mb-4">
            <div class="ion ion-ios-business ui-w-60 text-center text-large"></div>
            <div class="media-body ml-1">
                Partnership
                <div class="text-muted text-tiny font-weight-light">Donec sagittis urna eu leo</div>
            </div>
        </h4>

        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-41" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ne ornatus albucius ius?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-41" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, mea in pertinax hendrerit gloriatur.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-42" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Quo insolens intellegam dissentiet at?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-42" class="collapse text-muted">
                <div class="px-4 pb-3">Ex fugit legimus fuisset per. Ex quidam option diceret ius.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-43" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Ad his assum delenit blandit?
                <span class="collapse-icon"></span>
            </a>
            <div id="company-faq-43" class="collapse text-muted">
                <div class="px-4 pb-3">Ne ornatus albucius ius, nostrum dignissim repudiandae an usu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-44" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Dapibus ac facilisis in?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-44" class="collapse text-muted">
                <div class="px-4 pb-3">Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-45" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Cras justo odio?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-45" class="collapse text-muted">
                <div class="px-4 pb-3">Etiam vivendo eu sea, purto ponderum mediocritatem at pro.</div>
            </div>
        </div>
        <div class="bg-white ui-bordered mb-2">
            <a href="#company-faq-46" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">
                Porta ac consectetur ac?
                <span class="collapse-icon d-inline-block ml-1"></span>
            </a>
            <div id="company-faq-46" class="collapse text-muted">
                <div class="px-4 pb-3">Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse.</div>
            </div>
        </div>

    </div>
</div>