<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">UI elements /</span> Plyr
</h4>

<hr class="border-light container-m--x mt-0">

<h5 class="font-weight-bold pt-1 pb-1 mt-4 mb-4">Video</h5>

<div #videoPlayer data-type="youtube" data-video-id="bTqVqk7FSmY"></div>

<hr class="border-light container-m--x my-4">

<h5 class="font-weight-bold pt-1 pb-1 mb-4">Audio</h5>

<audio #audioPlayer controls>
  <source src="assets/audio/Water_Lily.mp3" type="audio/mp3">
</audio>
