<h4 class="font-weight-bold py-3 mb-4">
  Contacts
</h4>

<div class="d-flex flex-wrap justify-content-between ui-bordered px-3 pt-3 mb-4">
  <div>

    <!-- View toggle -->
    <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="contacts-view" [(ngModel)]="viewMode">
      <label ngbButtonLabel class="btn btn-default icon-btn md-btn-flat">
        <input ngbButton type="radio" value="col"> <span class="ion ion-md-apps"></span>
      </label>
      <label ngbButtonLabel class="btn btn-default icon-btn md-btn-flat">
        <input ngbButton type="radio" value="row"> <span class="ion ion-md-menu"></span>
      </label>
    </div>
    <!-- / View toggle -->
    <button type="button" class="btn btn-outline-primary mb-3 ml-3"><span class="ion ion-md-add"></span>&nbsp; Add contact</button>
  </div>
  <input type="text" class="form-control mb-3" placeholder="Search..." style="max-width: 200px;">
</div>

<!-- Set `.contacts-col-view` or '.contacts-row-view' to control view mode -->
<div class="row" [ngClass]="'contacts-' + viewMode + '-view'">
  <div *ngFor="let contact of contactsData" class="contacts-col col-12">

    <div class="card mb-4">
      <div class="card-body">
        <div class="contacts-dropdown btn-group" ngbDropdown [placement]="!isRTL ? 'bottom-right' : 'bottom-left'">
          <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat hide-arrow" ngbDropdownToggle>
            <i class="ion ion-ios-more"></i>
          </button>
          <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
            <a class="dropdown-item" href="javascript:void(0)">Edit</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
          </div>
        </div>

        <div class="contact-content">
          <img [src]="'assets/img/avatars/' + contact.avatar" class="contact-content-img rounded-circle" alt="">
          <div class="contact-content-about">
            <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-dark">{{contact.name}}</a></h5>
            <div class="contact-content-user text-muted small mb-2">@{{contact.username}}</div>
            <div class="small">
              <div *ngIf="contact.company">{{contact.company}}</div>
              <div *ngIf="contact.phone">{{contact.phone}}</div>
            </div>
            <hr class="border-light">
            <div>
              <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
              <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
              <span class="text-lighter">|</span> &nbsp;&nbsp;
              <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
              <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
              <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div><!-- / .row -->
