<div class="ui-block">
  <h3 class="ui-block-heading">Button dropdowns</h3>

  <h4 class="ui-block-heading">Variations</h4>

  <div class="cui-example cui-example-inline-spacing">
    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-default" ngbDropdownToggle>Default</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-primary" ngbDropdownToggle>Primary</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-secondary" ngbDropdownToggle>Secondary</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-success" ngbDropdownToggle>Success</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-info" ngbDropdownToggle>Info</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-warning" ngbDropdownToggle>Warning</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-danger" ngbDropdownToggle>Danger</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-dark" ngbDropdownToggle>Dark</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Hidden arrow</h4>

  <div class="cui-example cui-example-inline-spacing">
    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="d-inline-flex">
      <button class="btn btn-primary hide-arrow" ngbDropdownToggle>Primary</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'" class="dropdown-toggle-hide-arrow d-inline-flex">
      <button class="btn btn-secondary" ngbDropdownToggle>Secondary</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Split</h4>

  <div class="cui-example cui-example-inline-spacing">
    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-default">Default</button>
      <button class="btn btn-default dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-primary">Primary</button>
      <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-success">Success</button>
      <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-info">Info</button>
      <button class="btn btn-info dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-warning">Warning</button>
      <button class="btn btn-warning dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-danger">Danger</button>
      <button class="btn btn-danger dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div class="btn-group inline-flex" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-dark">Dark</button>
      <button class="btn btn-dark dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>
  </div>

  <h4 class="ui-block-heading">Sizes</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button class="btn btn-default btn-xl" ngbDropdownToggle>Extra large button</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button class="btn btn-default btn-lg" ngbDropdownToggle>Large button</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button class="btn btn-default btn-sm" ngbDropdownToggle>Small button</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>

    <div ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
      <button class="btn btn-default btn-xs" ngbDropdownToggle>Extra small button</button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
      </div>
    </div>
  </div>
</div>
