<div class="ui-block">
  <h3 class="ui-block-heading">ngx-tour</h3>
  <a target="_blank" href="https://github.com/isaacplmann/ngx-tour" class="ui-block-description">https://github.com/isaacplmann/ngx-tour</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example">
    <tour-step-template></tour-step-template>

    <div class="row">
      <div class="col-sm-4" tourAnchor="tour-1">
        <p>Lorem ipsum dolor sit amet, nam ut odio essent indoctum, an graecis detracto intellegat cum.</p>
      </div>
      <div class="col-sm-4">
        <p>Duo te aperiri accommodare voluptatibus.</p>
      </div>
      <div class="col-sm-4" tourAnchor="tour-2">
        <p>Eam unum facilis accusata no, facer libris pro ei, vim verterem mandamus intellegam cu.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" tourAnchor="tour-3">
        <p>Qui nobis docendi ut.</p>
      </div>
      <div class="col-sm-6">
        <p>Ad sea illud quidam oblique, nec ipsum discere intellegebat an.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <p>Quem natum constituam mei ut, et vim graeco aliquam periculis.</p>
      </div>
      <div class="col-sm-3" tourAnchor="tour-5">
        <p>Vix eu tritani mentitum.</p>
      </div>
      <div class="col-sm-3">
        <p>Diam iracundia definitiones ea eam.</p>
      </div>
      <div class="col-sm-3" tourAnchor="tour-4">
        <p>Mel nonumes adolescens an, at duo modus partiendo maiestatis, sed integre honestatis cu.</p>
      </div>
    </div>

    <button class="btn btn-default" (click)="startTour()">Start tour</button>
  </div>
</div>
