<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  Voting
</h4>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">212</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        <div class="my-2">
          Cras semper eu ipsum sed posuere. Fusce nec felis turpis. Aenean tellus nibh, porttitor ac neque a, tincidunt pharetra neque. Suspendisse imperdiet, tortor non fermentum fringilla, purus erat consequat sem, in efficitur felis enim nec sem.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 48</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 2h ago</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">186</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Sed ullamcorper efficitur convallis.</a>
        <div class="my-2">
          Vivamus id metus scelerisque, pharetra nisl ac, mattis urna.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 21</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 43m ago</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">152</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Fusce luctus eget ex vitae interdum. Nullam eleifend hendrerit turpis, quis tempus ligula facilisis vitae.</a>
        <div class="my-2">
          Proin eu auctor lorem. Donec a nulla mauris. Nunc auctor elit at tincidunt dapibus.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 66</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 4h ago</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">109</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Nam sit amet neque sit amet mi eleifend pharetra.</a>
        <div class="my-2">
          Etiam efficitur aliquet magna vitae feugiat. Cras aliquet orci a ipsum congue pretium semper vel dui. Vestibulum elementum eleifend sem, sed sollicitudin lorem lacinia ut. Donec nec metus blandit mauris mattis consectetur.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 12</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 1d ago</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">95</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Phasellus ultrices nulla nulla, id feugiat justo lobortis a.</a>
        <div class="my-2">
          In at nisl dignissim, sodales massa quis, auctor elit. Pellentesque facilisis libero vel tortor posuere commodo. Vestibulum nisl ante, laoreet in massa ut, consectetur vulputate purus.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 39</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 58m ago</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">61</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Morbi semper eget arcu quis vehicula.</a>
        <div class="my-2">
          Quisque auctor felis quis justo consequat, nec efficitur leo vulputate.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 0</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 2h ago</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-up"></i></a>
        <div class="text-xlarge font-weight-bolder line-height-1 my-2">24</div>
        <a href="javascript:void(0)" class="d-block text-primary text-big line-height-1"><i class="ion ion-ios-arrow-down"></i></a>
      </div>
      <div class="media-body ml-4">
        <a href="javascript:void(0)" class="text-big">Sed nisl ipsum, consequat vitae sapien eu, porta consectetur justo.</a>
        <div class="my-2">
          Proin sed lorem eget lacus molestie iaculis. Suspendisse porttitor ut elit vel consectetur. Vivamus interdum cursus odio, auctor euismod diam porta vel. Praesent consectetur, diam vel viverra facilisis, eros nunc consectetur leo, a lacinia velit ante sollicitudin sapien.
        </div>
        <div class="small">
          <a href="javascript:void(0)" class="text-muted"><i class="ion ion-ios-text text-lighter text-big align-middle"></i>&nbsp; 3</a>
          <span class="text-muted ml-3"><i class="ion ion-md-time text-lighter text-big align-middle"></i>&nbsp; 1d ago</span>
        </div>
      </div>
    </div>
  </div>
</div>
