<div class="ui-block">
  <h3 class="ui-block-heading">ng-select</h3>
  <a target="_blank" href="https://github.com/ng-select/ng-select" class="ui-block-description">https://github.com/ng-select/ng-select</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select [items]="selectOptions"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="singleSelectValue"
      placeholder="Select state"
      [disabled]="disabled">
    </ng-select>

    <ng-select [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <pre>Single value: {{ singleSelectValue | json }}</pre>
    <pre>Multiple value: {{ multipleSelectValue | json }}</pre>
    
    <button class="btn" [class.btn-outline-danger]="disabled" [class.btn-outline-success]="!disabled" (click)="disabled = !disabled">
      {{ disabled ? "Disabled" : "Enabled"}}
    </button>
  </div>

  <h4 class="ui-block-heading">Grouped</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      groupBy="timezone"
      [selectableGroup]="true"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [dropdownPosition]="'top'"
      [disabled]="disabled">
    </ng-select>

    <ng-select [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      groupBy="timezone"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [disabled]="disabled"
      [loading]="true">
      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
        <span class="small font-weight-semibold">{{item.timezone | uppercase}}</span>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="mr-1" /> {{item.label}}
      </ng-template>
    </ng-select>
  </div>

  <h4 class="ui-block-heading">Custom template</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select [items]="selectOptions"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="singleSelectValue"
      placeholder="Select state"
      [disabled]="disabled">
      <ng-template ng-label-tmp let-item="item">
        <span class="ng-value-label"><img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + item['flag']" width="16px" height="16px" class="align-middle mr-1"> {{item['label']}}</span>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <span class="ng-value-label"><img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + item['flag']" width="16px" height="16px" class="align-middle mr-1"> {{item['label']}}</span>
      </ng-template>
    </ng-select>

    <ng-select [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [disabled]="disabled">
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span class="ng-value-label"><img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + item['flag']" width="16px" height="16px" class="align-middle mr-1"> {{item['label']}}</span>
        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <span class="ng-value-label"><img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + item['flag']" width="16px" height="16px" class="align-middle mr-1"> {{item['label']}}</span>
      </ng-template>
    </ng-select>
  </div>
  
  <h4 class="ui-block-heading">Custom Header/footer</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
      <ng-template ng-header-tmp>
        <small>Selected count: {{multipleSelectValue.length}}</small>
      </ng-template>
    </ng-select>

    <ng-select [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
      <ng-template ng-footer-tmp>
        <small>Selected count: {{multipleSelectValue.length}}</small>
      </ng-template>
    </ng-select>
  </div>

  <h4 class="ui-block-heading">Variants</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select class="ng-select-primary" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="ng-select-secondary" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="ng-select-success" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="ng-select-info" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="ng-select-warning" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="ng-select-danger" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="ng-select-dark" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>
  </div>

  <h4 class="ui-block-heading">States</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng-select class="is-valid" [items]="selectOptions"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="singleSelectValue"
      placeholder="Select state"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="is-valid" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="is-invalid" [items]="selectOptions"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="singleSelectValue"
      placeholder="Select state"
      [disabled]="disabled">
    </ng-select>

    <ng-select class="is-invalid" [items]="selectOptions"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="label"
      bindValue="value"
      placeholder="Select states"
      [(ngModel)]="multipleSelectValue"
      [hideSelected]="true"
      [disabled]="disabled">
    </ng-select>
  </div>
</div>
