<div class="ui-block">
  <h3 class="ui-block-heading">Alerts</h3>

  <h4 class="ui-block-heading">Light alerts</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <div class="alert alert-primary alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a primary alert — check it out!
    </div>

    <div class="alert alert-secondary alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a secondary alert — check it out!
    </div>

    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a success alert — check it out!
    </div>

    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a danger alert — check it out!
    </div>

    <div class="alert alert-warning alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a warning alert — check it out!
    </div>

    <div class="alert alert-info alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is an info alert — check it out!
    </div>

    <div class="alert alert-dark alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a dark alert — check it out!
    </div>
  </div>

  <h4 class="ui-block-heading">Dark alerts</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <div class="alert alert-dark-primary alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a primary alert — check it out!
    </div>

    <div class="alert alert-dark-secondary alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a secondary alert — check it out!
    </div>

    <div class="alert alert-dark-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a success alert — check it out!
    </div>

    <div class="alert alert-dark-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a danger alert — check it out!
    </div>

    <div class="alert alert-dark-warning alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a warning alert — check it out!
    </div>

    <div class="alert alert-dark-info alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is an info alert — check it out!
    </div>

    <div class="alert alert-dark-dark alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      This is a dark alert — check it out!
    </div>
  </div>
</div>
