<div class="ui-block">
  <h3 class="ui-block-heading">Bootstrap Material DateTimePicker</h3>
  <a target="_blank" href="https://github.com/T00rk/bootstrap-material-datetimepicker" class="ui-block-description">https://github.com/T00rk/bootstrap-material-datetimepicker</a>

  <samp class="cui-example-code-static">
    &lt;%= stylesheet_link_tag 'bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css', media: 'all' %&gt;
    &lt;%= javascript_include_tag 'bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %&gt;

    <!-- Dependencies: -->
    &lt;%= javascript_include_tag 'moment/moment.js' %&gt;
  </samp>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <input type="text" id="b-m-dtp-date" class="form-control" placeholder="Date">

    <input type="text" id="b-m-dtp-time" class="form-control" placeholder="Time">

    <input type="text" id="b-m-dtp-datetime" class="form-control" placeholder="DateTime">

    <!-- Javascript -->
    <script>
      $(function() {
        $('#b-m-dtp-date').bootstrapMaterialDatePicker({
          weekStart: 0,
          time: false,
          clearButton: true
        });

        $('#b-m-dtp-time').bootstrapMaterialDatePicker({
          date: false,
          shortTime: false,
          format: 'HH:mm'
        });

        $('#b-m-dtp-datetime').bootstrapMaterialDatePicker({
          weekStart: 1,
          format : 'dddd DD MMMM YYYY - HH:mm',
          shortTime: true,
          nowButton : true,
          minDate : new Date()
        });
      });
    </script>
    <!-- / Javascript -->
  </div>
</div>
