<div class="ui-block">
  <h3 class="ui-block-heading">Breadcrumbs</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active">Library</li>
    </ol>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Library</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
  </div>
</div>
