<div class="ui-block ui-block-inline ui-block-pagination">
  <h3 class="ui-block-heading">Pagination</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <nav>
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">«</a></li>
        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">»</a></li>
      </ul>
    </nav>
  </div>

  <h4 class="ui-block-heading">Sizes</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <ul class="pagination pagination-sm">
      <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">«</a></li>
      <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">»</a></li>
    </ul>

    <ul class="pagination pagination-lg">
      <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">«</a></li>
      <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)">»</a></li>
    </ul>
  </div>
</div>
