<h4 class="d-flex flex-wrap justify-content-between align-items-center w-100 font-weight-bold pt-2 mb-4">
  <div class="col-12 col-md px-0 pb-2">Courses</div>
  <div class="col-12 col-md-3 px-0 pb-2">
    <input type="text" class="form-control" placeholder="Search...">
  </div>
</h4>

<ul class="nav bg-lighter container-p-x py-1 container-m--x mb-4">
  <li class="nav-item">
    <a class="nav-link text-dark font-weight-bold pl-0" href="javascript:void(0)">Development</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="javascript:void(0)">Web Development</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="javascript:void(0)">Mobile Apps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="javascript:void(0)">Programming Languages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="javascript:void(0)">Databases</a>
  </li>
</ul>

<div class="card mb-4">
  <div class="list-group list-group-flush">

    <li *ngFor="let course of coursesData" class="list-group-item py-4">
      <div class="media flex-wrap">
        <div class="d-none d-sm-block ui-w-140">
          <a href="javascript:void(0)" class="d-block ui-rect-67 ui-bg-cover" [style.backgroundImage]="'url(\'assets/img/bg/' + course.image + '\')'"></a>
        </div>
        <div class="media-body ml-sm-4">
          <h5 class="mb-2">
            <div class="float-right font-weight-semibold ml-3">{{course.price ? formatPrice(course.price) : 'FREE'}}</div>
            <a href="javascript:void(0)" class="text-dark">{{course.title}}</a>
          </h5>
          <div class="d-flex flex-wrap align-items-center mb-2">
            <div class="text-muted small">
              <i class="ion ion-md-time text-primary"></i>
              <span>{{course.duration}}</span>
            </div>
            <div class="ui-stars ml-3">
              <div class="ui-star" *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="uiStarClass(i, course.rating)">
                <i class="ion ion-md-star"></i>
                <i class="ion ion-md-star"></i>
              </div>
            </div>
            <a href="javascript:void(0)" class="text-muted small">{{course.votes}}</a>
          </div>
          <div>{{course.description}}</div>
          <div class="mt-2">
            <span *ngFor="let tag of course.tags" class="badge badge-outline-default text-muted font-weight-normal mr-1">{{tag}}</span>
          </div>
        </div>
      </div>
    </li>

  </div>
</div>

<ngb-pagination [collectionSize]="50"></ngb-pagination>
