:host /deep/ .icon-example {
  width: 70px;
  height: 70px;
  position: relative;
}
:host /deep/ .icon-example:after {
  content: attr(data-title);
  display: none;
  position: absolute;
  background: #444;
  color: #fff;
  padding: 3px 6px;
  border-radius: 2px;
  bottom: 100%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -4px);
  font-size: 12px;
  white-space: nowrap;
}
:host /deep/ .icon-example:hover:after {
  display: block;
}
