<!DOCTYPE html>

<html lang="en" class="default-style">
<head>
    <title>@ViewData["Title"] - Asp.Net Core Demo</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="~/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="~/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="~/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="~/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="~/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="~/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="~/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="~/css/demo.css">

    <script src="~/vendor/js/material-ripple.js"></script>
    <script src="~/vendor/js/layout-helpers.js"></script>

    <!-- Theme settings -->
    <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
    <script src="~/vendor/js/theme-settings.js"></script>
    <script>
        window.themeSettings = new ThemeSettings({
            cssPath: '/vendor/css/rtl/',
            themesPath: '/vendor/css/rtl/'
        });
    </script>

    <!-- Core scripts -->
    <script src="~/vendor/js/pace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="page-loader"><div class="bg-primary"></div></div>

    @RenderBody()

    <!-- Core scripts -->
    <script src="~/vendor/libs/popper/popper.js"></script>
    <script src="~/vendor/js/bootstrap.js"></script>
    <script src="~/vendor/js/sidenav.js"></script>

    <!-- Scripts -->
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/js/demo.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
