<div class="ui-block">
  <h3 class="ui-block-heading">Typeahead</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <!-- Default -->

    <input type="text" class="form-control" [(ngModel)]="simpleModel" [ngbTypeahead]="search"
      [placement]="isRTL ? 'bottom-right' : 'bottom-left'" placeholder="State">

    <br>
    <pre>{{ simpleModel }}</pre>
    <br>

    <!-- With template -->

    <ng-template #rt let-r="result" let-t="term">
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" width="16" class="mr-1">
      {{ r.name}}
    </ng-template>

    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="templateModel" [ngbTypeahead]="searchWithTemplate" [resultTemplate]="rt"
      [inputFormatter]="formatter" [placement]="isRTL ? 'bottom-right' : 'bottom-left'" placeholder="State with flag">

    <br>
    <pre>{{ templateModel | json }}</pre>
  </div>
</div>
