<div class="ui-block">
  <h3 class="ui-block-heading">ng2-smart-table</h3>
  <a target="_blank" href="https://github.com/akveo/ng2-smart-table" class="ui-block-description">https://github.com/akveo/ng2-smart-table</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ng2-smart-table [settings]="settings" [source]="source" class="table-responsive"></ng2-smart-table>

    <!-- Within card -->

    <div class="card">
      <h6 class="card-header">
        Within card
      </h6>
      <div class="card-ng2-smart-table table-responsive">
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>
