<div class="ui-block">
  <h3 class="ui-block-heading">Carousel</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img class="d-block w-100" src="assets/img/bg/1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide</h3>
          <p>Eos mutat malis maluisset et, agam ancillae quo te, in vim congue pertinacia.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="d-block w-100" src="assets/img/bg/2.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide</h3>
          <p>In numquam omittam sea.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="d-block w-100" src="assets/img/bg/3.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide</h3>
          <p>Lorem ipsum dolor sit amet, virtute consequat ea qui, minim graeco mel no.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
