:host /deep/ {
  .swiper-container .swiper-slide {
    padding: 5rem 0;
    text-align: center;
    font-size: 1.5rem;
    background: #ecebed;
  }

  #swiper-vertical {
    max-height: 195px;
  }

  #swiper-3d-cube-effect {
    max-width: 300px;
  }

  #swiper-3d-coverflow-effect .swiper-slide {
    max-width: 300px;
  }

  #swiper-3d-flip-effect,
  #swiper-3d-flip-effect .swiper-slide {
    max-width: 300px;
  }

  #swiper-3d-flip-effect {
    padding: 50px;
  }
}
