<div class="ui-block">
  <h3 class="ui-block-heading">Progress bars</h3>

  <h4 class="ui-block-heading">Basic</h4>

  <div class="cui-example">
    <ngb-progressbar [value]="60"></ngb-progressbar>
  </div>

  <h4 class="ui-block-heading">With label</h4>

  <div class="cui-example">
    <ngb-progressbar [showValue]="true" [value]="30"></ngb-progressbar>
  </div>

  <h4 class="ui-block-heading">Variations</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <p><ngb-progressbar [value]="30" type="secondary"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="40" type="success"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="20" type="info"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="60" type="warning"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="80" type="danger"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="50" type="dark"></ngb-progressbar></p>
  </div>

  <h4 class="ui-block-heading">Striped</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <p><ngb-progressbar [value]="45" [striped]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="30" type="secondary" [striped]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="40" type="success" [striped]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="20" type="info" [striped]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="60" type="warning" [striped]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="80" type="danger" [striped]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="50" type="dark" [striped]="true"></ngb-progressbar></p>
  </div>

  <h4 class="ui-block-heading">Animated</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <p><ngb-progressbar [value]="45" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="30" type="secondary" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="40" type="success" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="20" type="info" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="60" type="warning" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="80" type="danger" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><ngb-progressbar [value]="50" type="dark" [striped]="true" [animated]="true"></ngb-progressbar></p>
  </div>
</div>
