<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Charts /</span> Ng Chartist
</h4>

<hr class="border-light container-m--x mt-0 mb-5">

<div class="demo-vertical-spacing-lg">
  <div style="height: 250px">
    <x-chartist
      [data]="data1"
      [type]="'Line'"
      [options]="options1">
    </x-chartist>
  </div>

  <div style="height: 250px">
    <x-chartist
      [data]="data2"
      [type]="'Line'"
      [options]="options2">
    </x-chartist>
  </div>

  <div style="height: 250px">
    <x-chartist
      [data]="data3"
      [type]="'Bar'"
      [options]="options3">
    </x-chartist>
  </div>

  <div style="height: 250px">
    <x-chartist
      [data]="data4"
      [type]="'Bar'"
      [options]="options4">
    </x-chartist>
  </div>

  <div style="height: 250px">
    <x-chartist
      [data]="data5"
      [type]="'Pie'"
      [options]="options5">
    </x-chartist>
  </div>

  <div style="height: 250px">
    <x-chartist
      [data]="data6"
      [type]="'Pie'"
      [options]="options6">
    </x-chartist>
  </div>
</div>
