<div class="ui-block">
  <h3 class="ui-block-heading">ng2-password-strength-bar</h3>
  <a target="_blank" href="https://github.com/rnadler/ng2-password-strength-bar" class="ui-block-description">https://github.com/rnadler/ng2-password-strength-bar</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example">
    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Enter password">
    <ng2-password-strength-bar [passwordToCheck]="password"></ng2-password-strength-bar>
  </div>
</div>
