@{
    ViewBag.Title = "Numeral.js - Miscellaneous";
}

@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/numeral/numeral")
    
    @Scripts.Render("~/bundle/js/misc_numeraljs")
}


<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
    <span class="text-muted font-weight-light">Miscellaneous /</span> Numeral.js
</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="card">
    <div class="card-body demo-vertical-spacing">
        <p id="numeral-example-1"></p>
        <p id="numeral-example-2"></p>
        <p id="numeral-example-3"></p>
        <p id="numeral-example-4"></p>
        <p id="numeral-example-5"></p>
    </div>
</div>