<div class="ui-block ui-block-inline ui-block-pagination">
  <h3 class="ui-block-heading">Pagination</h3>

  <h4 class="ui-block-heading">Example</h4>

  <div class="cui-example">
    <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5"></ngb-pagination>
  </div>

  <h4 class="ui-block-heading">Sizes</h4>

  <div class="cui-example cui-example-vertical-spacing-sm">
    <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" size="sm"></ngb-pagination>
    <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" size="lg"></ngb-pagination>
  </div>
</div>
