<% content_for :styles do %>
  <%= stylesheet_link_tag 'datatables/datatables.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'datatables/datatables.js' %>
  <%= javascript_include_tag 'numeral/numeral.js' %>
  
  <%= javascript_include_tag 'pages_e-commerce_order-list.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  Orders
</h4>

<div class="card">
  <div class="card-datatable table-responsive">
    <table id="order-list" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
