<% content_for :styles do %>
  <%= stylesheet_link_tag 'chartist/chartist.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'chartist/chartist.js' %>
  
  <%= javascript_include_tag 'charts_chartist.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Charts /</span> Chartist
</h4>

<hr class="border-light container-m--x mt-0 mb-5">

<div class="demo-vertical-spacing-lg">
  <div id="chartist-graph" style="height: 250px"></div>
  <div id="chartist-bi-polar" style="height: 250px"></div>
  <div id="chartist-bars" style="height: 250px"></div>
  <div id="chartist-h-bars" style="height: 250px"></div>
  <div id="chartist-pie" class="ct-negative-labels" style="height: 250px"></div>
  <div id="chartist-gauge" style="height: 250px"></div>
</div>
