<div class="ui-block">
  <h3 class="ui-block-heading">ngx-clipboard</h3>
  <a target="_blank" href="https://github.com/maxisam/ngx-clipboard" class="ui-block-description">https://github.com/maxisam/ngx-clipboard</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example">
    <textarea #clipboardExample rows="3" class="form-control">Lorem ipsum dolor sit amet, nec an eros dicam, vero apeirian ei est. Eu duo stet adhuc insolens, movet vitae audire duo an, mei in delectus luptatum.</textarea>
    <br>

    <button class="btn btn-default" [ngxClipboard]="clipboardExample" (cbOnSuccess)="onCopy()">Copy</button>
    <span *ngIf="copied" class="text-success ml-4">Copied!</span>
  </div>
</div>
