<div class="ui-block">
  <h3 class="ui-block-heading">Navs</h3>

  <h4 class="ui-block-heading">Base</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <!-- Left -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>

    <!-- Center -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>

    <!-- Right -->
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>
  </div>

  <h4 class="ui-block-heading">Vertical</h4>

  <div class="cui-example">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>
  </div>

  <h4 class="ui-block-heading">Tabs & pills</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <!-- Default tabs -->
    <ul class="nav nav-tabs nav-responsive-xl">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>

    <!-- Alt tabs -->
    <ul class="nav nav-tabs tabs-alt nav-responsive-xl">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>

    <!-- Pills -->
    <ul class="nav nav-pills nav-responsive-xl">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>
  </div>

  <h4 class="ui-block-heading">Sizes</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <!-- Large -->
    <ul class="nav nav-lg nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>
    <ul class="nav nav-lg nav-tabs tabs-alt">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>
    <ul class="nav nav-lg nav-pills">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>

    <!-- Small -->
    <ul class="nav nav-sm nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>
    <ul class="nav nav-sm nav-tabs tabs-alt">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>
    <ul class="nav nav-sm nav-pills">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>
  </div>

  <h4 class="ui-block-heading">Fill & justify</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Link</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
    </ul>
  </div>

  <h4 class="ui-block-heading">Using dropdowns</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <!-- Default tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
        <a class="nav-link" ngbDropdownToggle href="javascript:void(0)">Dropdown</a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>

    <!-- Alt tabs -->
    <ul class="nav nav-tabs tabs-alt">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
        <a class="nav-link" ngbDropdownToggle href="javascript:void(0)">Dropdown</a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>

    <!-- Pills -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">Active</a>
      </li>
      <li class="nav-item" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
        <a class="nav-link" ngbDropdownToggle href="javascript:void(0)">Dropdown</a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>
  </div>

  <h4 class="ui-block-heading material-style-only">Light navs (Material only)</h4>

  <div class="cui-example material-style-only">
    <div class="cui-example-vertical-spacing bg-primary p-4">
      <!-- Default tabs -->
      <ul class="nav nav-tabs md-tabs-light">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active</a>
        </li>
        <li class="nav-item" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
          <a class="nav-link" ngbDropdownToggle href="javascript:void(0)">Dropdown</a>
          <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>

      <!-- Alt tabs -->
      <ul class="nav nav-tabs tabs-alt md-tabs-light">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active</a>
        </li>
        <li class="nav-item" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
          <a class="nav-link" ngbDropdownToggle href="javascript:void(0)">Dropdown</a>
          <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>

      <!-- Pills -->
      <ul class="nav nav-pills md-pills-light">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active</a>
        </li>
        <li class="nav-item" ngbDropdown [placement]="isRTL ? 'bottom-right' : 'bottom-left'">
          <a class="nav-link" ngbDropdownToggle href="javascript:void(0)">Dropdown</a>
          <div ngbDropdownMenu [class.dropdown-menu-right]="isRTL">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>
    </div>
  </div>

  <h4 class="ui-block-heading">Top tabs</h4>

  <div class="cui-example">
    <ngb-tabset class="nav-tabs-top">
      <ngb-tab title="Home">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Profile">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Messages">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <h4 class="ui-block-heading">Left tabs</h4>

  <div class="cui-example">
    <ngb-tabset class="nav-tabs-left">
      <ngb-tab title="Home">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Profile">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Messages">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <h4 class="ui-block-heading">Right tabs</h4>

  <div class="cui-example">
    <ngb-tabset class="nav-tabs-right">
      <ngb-tab title="Home">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Profile">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Messages">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <h4 class="ui-block-heading">Bottom tabs</h4>

  <div class="cui-example">
    <ngb-tabset class="nav-tabs-bottom">
      <ngb-tab title="Home">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Profile">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Messages">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <h4 class="ui-block-heading">Responsive navs</h4>

  <p>Try to resize window.</p>

  <div class="cui-example cui-example-vertical-spacing">
    <!-- .nav-responsive-md - stacked on extra small and small screens -->
    <div class="nav-responsive-md">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>
    </div>

    <!-- .nav-responsive-lg - stacked on extra small, small and medium screens -->
    <div class="nav-responsive-lg">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>
    </div>

    <!-- .nav-responsive-lg - stacked on extra small, small and medium screens -->
    <div class="nav-responsive-lg">
      <ul class="nav nav-tabs tabs-alt">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>
    </div>

    <!-- .nav-responsive-lg - stacked on extra small, small and medium screens -->
    <div class="nav-responsive-lg">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active <span class="badge badge-primary">22</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link <span class="badge badge-outline-success">22</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
        </li>
      </ul>
    </div>

    <!-- .nav-responsive-xl - stacked on extra small, small, medium and large screens -->
    <ngb-tabset class="nav-tabs-top nav-responsive-xl">
      <ngb-tab title="Link 1">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Stacked on extra small, small, medium and large screens</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Link 2">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Tab content</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <!-- .nav-responsive-lg - stacked on extra small, small and medium screens -->
    <ngb-tabset class="nav-tabs-left nav-responsive-lg">
      <ngb-tab title="Link 1">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Stacked on extra small, small and medium screens</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Link 2">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Tab content</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <!-- .nav-responsive-md - stacked on extra small and small screens -->
    <ngb-tabset class="nav-tabs-right nav-responsive-md">
      <ngb-tab title="Link 1">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Stacked on extra small and small screens</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Link 2">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Tab content</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <!-- .nav-responsive-sm - stacked on extra small screens -->
    <ngb-tabset class="nav-tabs-bottom nav-responsive-sm">
      <ngb-tab title="Link 1">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Stacked on extra small screens</p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Link 2">
        <ng-template ngbTabContent>
          <div class="card-body">
            <p>Tab content</p>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
