<div class="ui-block">
  <h3 class="ui-block-heading">ngx-dropzone-wrapper</h3>
  <a target="_blank" href="https://github.com/zefoy/ngx-dropzone-wrapper" class="ui-block-description">https://github.com/zefoy/ngx-dropzone-wrapper</a>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example">
    <div class="dropzone" [dropzone]="config">
      <div class="dz-message needsclick">
        Drop files here or click to upload
        <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
      </div>
      <div class="fallback">
        <input name="file" type="file" multiple>
      </div>
    </div>
  </div>
</div>
