<div class="ui-block">
    <h3 class="ui-block-heading">Autosize</h3>
    <a target="_blank" href="https://github.com/jackmoore/autosize" class="ui-block-description">https://github.com/jackmoore/autosize</a>

    <samp class="cui-example-code-static">
        &lt;script src="~/vendor/libs/autosize/autosize.js"&gt;&lt;/script&gt;
    </samp>

    <h4 class="ui-block-heading">Examples</h4>

    <div class="cui-example cui-example-vertical-spacing">
        <textarea id="autosize-demo" rows="3" class="form-control"></textarea>

        <!-- Javascript -->
        <script>
            $(function() {
                autosize($('#autosize-demo'));
            });
        </script>
        <!-- / Javascript -->
    </div>
</div>
