<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">UI elements /</span> Progress bars
</h4>

<div class="card mb-4">
  <div class="card-body">
    <div class="text-light small font-weight-semibold mb-3">Default</div>

    <ngb-progressbar [value]="60"></ngb-progressbar>
  </div>
  <hr class="m-0">
  <div class="card-body">
    <div class="text-light small font-weight-semibold mb-3">With label</div>

    <ngb-progressbar [showValue]="true" [value]="30"></ngb-progressbar>
  </div>
  <hr class="m-0">
  <div class="card-body">
    <div class="text-light small font-weight-semibold mb-3">Variations</div>

    <div class="demo-vertical-spacing-sm">
      <p><ngb-progressbar [value]="30" type="secondary"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="40" type="success"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="20" type="info"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="60" type="warning"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="80" type="danger"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="50" type="dark"></ngb-progressbar></p>
    </div>
  </div>
  <hr class="m-0">
  <div class="card-body">
    <div class="text-light small font-weight-semibold mb-3">Striped</div>

    <div class="demo-vertical-spacing-sm">
      <p><ngb-progressbar [value]="45" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="30" type="secondary" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="40" type="success" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="20" type="info" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="60" type="warning" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="80" type="danger" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="50" type="dark" [striped]="true"></ngb-progressbar></p>
    </div>
  </div>
  <hr class="m-0">
  <div class="card-body">
    <div class="text-light small font-weight-semibold mb-3">Animated</div>

    <div class="demo-vertical-spacing-sm">
      <p><ngb-progressbar [value]="45" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="30" type="secondary" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="40" type="success" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="20" type="info" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="60" type="warning" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="80" type="danger" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar [value]="50" type="dark" [striped]="true" [animated]="true"></ngb-progressbar></p>
    </div>
  </div>
</div>
